<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <head>
    <title>Signup OTP</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!--Fontawesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/user/css/login.css" />
  </head>
  <body style="background-color: gold;">

    <div class="container-fluid bg-dark " >
      <div class="animate__animated animate__rubberBand" style=" border-bottom: 1px solid rgb(207, 202, 202);">
    <span style="color: white;
        font-size: 45px;
        font-weight: bold;" >METRO</span> <span style="font-size: 20px ;color: gold;
        font-weight: 400;">ENTERPRISES</span>
        </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        
        <div class="card" style="background-color: white">
          <div class="bg-white rounded p-4 p-sm-10 my-4 mx-3">
            <div class="card-header text-center  bg-dark">
              <h3 class="text-warning">OTP Verification</h3>
            </div>
            <div class="card-body">
              <form action="/verifyotp" method="post">
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-key"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="otp"
                    placeholder="Enter OTP"
                  />
                  <input type="hidden" name="referral" value="<%= referral %>">
                </div>

                <div class="form-group text-center">
                  <input type="submit" value="Submit" class="btn login_btn" />
                  <p class="text-danger"><%= message %></p>
              <span class="d-block mobile-text text-danger fw-bold fs-3 " id="countdown" style="margin-top: 30px;"></span>

                </div>
              </form>
            </div>
            <div class="card-footer bg-dark rounded">

              <div class="d-flex justify-content-center links " id="resendOTPmsg">
                

                
                <a href="/resendOTP"><span class="d-block  mobile-text" id="resend"></span></a>
       
                <p id="msg" class="text-warning">  </p>
  

              </div>
            </div>
          </div>


        <!-- </div> -->


      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

  


    
    <script>
      let timerOn = true;
      function timer(remaining) {
          var m = Math.floor(remaining / 60);
          var s = remaining % 60;
          m = m < 10 ? "0" + m : m;
          s = s < 10 ? "0" + s : s;
          document.getElementById("countdown").innerHTML = ` ${m} : ${s}`;
          remaining -= 1;
          if (remaining >= 0 && timerOn) {
              setTimeout(function () {
                  timer(remaining);
              }, 1000);
              document.getElementById("msg").innerHTML = `Please Check Your Mail
          `;
              return;
          }
          if (!timerOn) {
              return;
          }
          document.getElementById("resend").innerHTML = `
        <span class="fw-bold cursor" onclick="timer(10)">Resend Otp
        </span>`;
        document.getElementById("msg").innerHTML=""
  
  
      }
      timer(30);
  </script>

  </body>
</html>
