
<!DOCTYPE html>
<html lang="en">
<head>

    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- new fontawesome -->
    <script src="https://kit.fontawesome.com/66145c57ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <style>
        @import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.container {
  text-align: center;
  margin: auto;
  padding: 4em;
  img {
   
    height: 100px;
  }

  h1 {
    margin-top: 1rem;
    font-size: 35px;
    text-align: center;

    span {
      font-size: 60px;
    }
  }
  p {
    margin-top: 1rem;
  }

  p.info {
    margin-top: 4em;
    font-size: 12px;

    a {
      text-decoration: none;
      color: rgb(84, 84, 206);
    }
  }
}

    </style>
</head>
<body class="bg-warning">
    <div class="container ">
        <img class="animate__animated animate__bounceInDown " style="height: 200px;" src="https://i.imgur.com/qIufhof.png" />
  
        <h1 class="text-primary">
          <span>500</span> <br />
          Internal server error
        </h1>
        <p class="text-primary">We are currently trying to fix the problem.</p>
        <p class="mb-4 text-primary h4">Sorry, It's an error from us</p>

                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary rounded-pill py-2 px-5 mx-2 text-white" onclick="goback()">Go Back To</a>
                            <a class="btn btn-primary rounded-pill py-2 px-5 mx-2" href="/admin/index">Dashboard</a>
                        </div>
      </div>
      <script>
        function goback(){
            window.history.back()
        }
    </script>
     <!-- JavaScript Libraries -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
     <script src="lib/chart/chart.min.js"></script>
     <script src="lib/easing/easing.min.js"></script>
     <script src="lib/waypoints/waypoints.min.js"></script>
     <script src="lib/owlcarousel/owl.carousel.min.js"></script>
     <script src="lib/tempusdominus/js/moment.min.js"></script>
     <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
     <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
 
     <!-- Template Javascript -->
     <script src="/admin/js/main.js"></script>
</body>
</html>